.App {
  font-family: sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* On larger screens, show side-by-side */
@media (min-width: 1024px) {
  .main-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
}