html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
}

/* Remove Vite default body flex layout */
body {
  background: #ffffff !important;
}

/* Optional global reset */
* {
  box-sizing: border-box;
}
